absl-py==0.10.0
aiodns==3.0.0
aiohttp==3.8.1
aiohttp-socks==0.7.1
aiosignal==1.2.0
alabaster==0.7.12
amply==0.1.4
appdirs==1.4.4
appnope==0.1.0
APScheduler==3.6.3
argon2-cffi==20.1.0
arrow==1.2.1
asgiref==3.2.5
astor==0.8.1
astroid==2.4.2
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
atari-py==0.2.9
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
beautifulsoup4==4.9.3
billiard==3.6.4.0
bleach==3.1.5
boto3==1.15.2
botocore==1.18.2
bs4==0.0.1
cachetools==4.1.1
category-encoders==2.2.2
cchardet==2.1.7
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
charset-normalizer==2.0.9
chromedriver-binary==91.0.4472.19.0
click==7.1.2
cloudpickle==1.6.0
coala-utils==0.5.1
colorama==0.4.4
configparser==5.2.0
confuse==1.4.0
crayons==0.4.0
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.21
dataclasses==0.6
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
Django==3.0.4
djangorestframework==3.11.0
docopt==0.6.2
docutils==0.16
drive==0.2.2
elasticsearch==7.16.1
entrypoints==0.3
environment==1.0.0
et-xmlfile==1.0.1
fake-useragent==0.1.11
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.9
flask-crontab==0.1.2
frozenlist==1.2.0
future==0.18.2
gast==0.2.2
geographiclib==1.52
geopy==2.2.0
google-api-core==1.23.0
google-api-python-client==1.12.4
google-auth==1.22.1
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
google-colab==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.52.0
googletransx==2.4.2
grpcio==1.32.0
gym==0.18.0
h5py==2.10.0
html5lib==1.1
htmlmin==0.1.12
httplib2==0.18.0
idna==2.10
ImageHash==4.2.0
imageio==2.9.0
imagesize==1.2.0
imgaug==0.4.0
importlib-metadata==1.6.0
iniconfig==1.1.1
ipykernel==5.3.4
ipyparallel==6.3.0
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.5.1
itsdangerous==1.1.0
japanize-matplotlib==1.1.3
jdcal==1.4.1
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.1
jrdbparser==0.0.7
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterthemes==0.20.0
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lesscpy==0.14.0
lightgbm==3.2.1
llvmlite==0.34.0
lxml==4.6.2
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.1
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
more-itertools==8.8.0
mplfinance==0.12.8b9
multidict==5.2.0
nbconvert==5.6.1
nbformat==5.0.6
networkx==2.5
ninja==1.10.0.post2
nose==1.3.7
notebook==6.3.0
numba==0.51.2
numpy==1.18.3
oauth2client==3.0.0
oauthlib==3.1.0
opencv-python==4.4.0.42
openpyxl==2.4.0
opt-einsum==3.3.0
ortoolpy==0.2.38
packaging==20.3
pandas==1.2.4
pandas-profiling==2.11.0
pandocfilters==1.4.2
parse==1.18.0
parso==0.7.0
patsy==0.5.1
pexpect==4.8.0
phik==0.11.2
pickle5==0.0.11
pickleshare==0.7.5
Pillow==7.2.0
pipreqs==0.4.11
pluggy==0.13.1
ply==3.11
portpicker==1.2.0
predictor==0.1.2
prometheus-client==0.7.1
prompt-toolkit==1.0.18
protobuf==3.13.0
ptyprocess==0.6.0
PuLP==2.4
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.1.2
pycocotools==2.0.2
pycosat==0.6.3
pycparser==2.20
pyee==7.0.4
pyglet==1.5.0
Pygments==2.6.1
pylint==2.6.0
PyMatting==1.0.6
pyocr==0.8.1
pyparsing==2.4.7
pyppeteer==0.2.2
pyquery==1.4.3
pyrsistent==0.16.0
PySocks==1.7.1
pytest==6.1.2
pytest-mock==3.3.1
python-dateutil==2.8.1
python-Levenshtein==0.12.2
python-magic==0.4.12
python-socks==2.0.1
pytwitterscraper==1.3.5
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.0
qtconsole==4.7.3
QtPy==1.9.0
requests==2.25.0
requests-html==0.10.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==3.4.2
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
schedule==1.1.0
scikit-image==0.17.2
scikit-learn==0.24.1
scipy==1.5.2
seaborn==0.11.1
selenium==3.141.0
Send2Trash==1.5.0
Shapely==1.7.1
simplegeneric==0.8.1
simplejson==3.8.2
six==1.15.0
sklearn==0.0
slack-sdk==3.13.0
snowballstemmer==2.0.0
soupsieve==2.1
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.1
stable-baselines==2.10.2
statsmodels==0.12.2
tangled-up-in-unicode==0.0.7
tensorboard==1.14.0
tensorboard-plugin-wit==1.7.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.9.22
toml==0.10.1
torch==1.6.0
torchvision==0.7.0
tornado==6.1
tqdm==4.54.1
traitlets==4.3.3
tweepy==4.4.0
twint @ git+https://github.com/twintproject/twint.git@e7c8a0c764f6879188e5c21e25fb6f1f856a7221
twitterscraper==1.6.1
typed-ast==1.4.1
typing_extensions==4.0.1
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.26.2
virtualenv==20.0.35
visions==0.6.0
w3lib==1.22.0
wcwidth==0.1.9
webdriver-manager==3.5.2
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
yacs==0.1.8
YahooFinanceSpider==0.3
yarg==0.1.9
yarl==1.7.2
zipp==3.1.0
